img {
    width: 80px;
    height: 80px;
}

body {
    font-family: verdana;
    text-align: center;
    background-color: #fafafa;
}

#invia {
     border: 1 px solid black;   
     border-radius: 3px;
     padding: 5px;
}



